<h1>profile uncompleted</h1>

{{#if errors.error}}
       <div class="invalid-feedback">
       <h1>{{ errors.error }}</h1>  
       </div>
{{/if}}

<div class="form-group">
    <form action="/users/{{ session._id }}/edit" method="POST">
      <label class="btn btn-default">
          <input type="checkbox" id="tequila" name="categories" value="tequila">
      </label>
      <label class="btn btn-default">
          <input type="checkbox" id="jagger" name="categories" value="jagger">
      </label>
      <label class="btn btn-default">
          <input type="checkbox" id="thunder" name="categories" value="thunderbitch">
      </label>
      <label class="btn btn-default">
          <input type="checkbox" id="mezcal" name="categories" value="mezcal">
      </label>
      
        <button class="btn btn-primary btn-block" type="submit" >Submit</button>
    
    </form>
</div> 