<div class="container profile-container mt-5">
    <div class="col-xl-9 col-md-9 col-12">
      <div class="text-center mt-3">
        <h1>NATURAPP!!! VERDADERAS EXPERIENCIAS</h1>
        <img src="http://sciencenordic.com/sites/default/files/imagecache/440x/animals.jpg" alt="">
    </div>
  </div>
</div>