<div class="flex-container-form body-form">
  <div class="row row-form">
    <div class="mx-auto form-intro">
      <img src="/img/logo.svg" alt="logo-naturapp" class="logo-form">
      <h2 class="naturapp-name">Natur<strong class="nav-logo-name-app">app</strong></h2>
      <hr class="small-hr">
      <p class="p-intro-form"><strong>Let's go!,</strong> image a world with <strong>nature experiencies</strong>
        with people and wild life in nature contact</p>
      <hr class="form-hr-intro-opacity">
      <div class="form-hover-color">
        <form action="/sessions/google" method="post" class="col-12 mx-auto form-create-google">
          <button class="btn btn-block btn-google btn-social" type="submit">
            <i class="fab fa-google"></i> <span>Login with Google</span> </button>
        </form>
      </div>
      <hr class="form-hr-intro">
      <div class="form-hover-color">
        <form action="/sessions/facebook" method="post" class="col-12 mx-auto form-create-facebook">
          <button class="btn btn-block btn-facebook btn-social" type="submit">
            <i class="fab fa-facebook"></i> <span>Login with Facebook</span></button>
        </form>
      </div>
      <hr class="form-hr-intro-opacity">
      <p class="strong-intro">Powered by Moi and Carlos in <br>pt-ironhack-2019</p>
    </div>
  </div>
</div>