<div class="row mb-2">
  <form action="/sessions/google" method="post" class="col-4 mx-auto">
    <button class="btn btn-danger btn-block" type="submit"><i class="fab fa-google"></i> Login with Google</button>
  </form>
</div>

