{{> searchmobile}}

<header class="masthead">
  <div class="container-slider mx-auto h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-left header-caption">
        <h1 class="mobile-none">Nature is not just for visiting,</h1>
        <h1 class="mobile-none">is our real home.</h1>
        <h1 class="just-mobile">Nature is not just for visiting, is our real home.</h1>
        <hr class="small-green-hr">
        <p class="lead ml-0">The best ways, step by step...</p>
      </div>
    </div>
  </div>
</header>

{{> slidecategories}}

{{> lastexperiences}}

{{> pricesorted}}

{{> ratesorted}}

{{> recommended}}

{{!-- nav-menu-mobile--}}
<div class="container nav-mobile mx-auto">
  <div class="row mx-auto align-items-center h-100">
    <div class="col-3 text-center menu-icon">
      <a href="/"class="d-flex flex-column-reverse link-nav-mobile">
        <span class="menu-icon-text active">search</span>
        <span class="icon-home icon-nav active"></span>
      </a>
    </div>
    <div class="col-3 text-center menu-icon">
      <a href="/favorites" class="d-flex flex-column-reverse link-nav-mobile">
        <span class="menu-icon-text">Favourites</span>
        <span class="icon-favorites icon-nav"></span>
      </a>
    </div>
    <div class="col-3 text-center menu-icon">
      <a href="{{#if session.creator}}/experiences/create{{else}}/creator/create{{/if}}" class="d-flex flex-column-reverse link-nav-mobile">
        <span class="menu-icon-text">Create</span>
        <span class="icon-new-rute icon-nav"></span>
      </a>
    </div>
    <div class="col-3 text-center menu-icon">
      <a href="/profile" class="d-flex flex-column-reverse link-nav-mobile">
        <span class="menu-icon-text">Profile</span>
        <span class="icon-profile icon-nav"></span>
      </a>
    </div>
  </div>
</div>
{{!-- nav-menu-mobile--}}

{{#if session.creator}}
<div class="container-slider mx-auto ">
  <h2>Add new experiences as creator</h2>
  <p>Show the community your experiences and earn with Naturapp your knowledge</p>
  <hr>
  <div class="caption-home mt-4">
    <img src="/img/logo-invert.svg" alt="" id="caption-logo">
    <a class="btn mt-3" id="caption-button-home" href="/experiences/create">New experience</a>
  </div>
</div>
{{else}}
<div class="container-slider mx-auto ">
  <h2>Become an experience creator</h2>
  <p>Show the community your experiences and earn with Naturapp</p>
  <hr>
  <div class="caption-home mt-4">
    <img src="/img/logo-invert.svg" alt="" id="caption-logo">
    <a class="btn mt-3" id="caption-button-home" href="/creator/create">Become a creator</a>
  </div>
</div>
{{/if}}