
@font-face {
  font-family: 'Circular Std Book';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Book'), url('../fonts/CircularStd-Book.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Circular Std Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Book Italic'), url('../fonts/CircularStd-BookItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Circular Std Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Medium'), url('../fonts/CircularStd-Medium.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Circular Std Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Medium Italic'), url('../fonts/CircularStd-MediumItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Circular Std Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Bold'), url('../fonts/CircularStd-Bold.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Circular Std Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Bold Italic'), url('../fonts/CircularStd-BoldItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Circular Std Black';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Black'), url('../fonts/CircularStd-Black.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Circular Std Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Black Italic'), url('../fonts/CircularStd-BlackItalic.woff') format('woff');
  }

  @font-face {
    font-family: 'icomoon';
    src:  url('../fonts/menu/icomoon.eot?ab80ir');
    src:  url('../fonts/menu/icomoon.eot?ab80ir#iefix') format('embedded-opentype'),
      url('../fonts/menu/icomoon.ttf?ab80ir') format('truetype'),
      url('../fonts/menu/icomoon.woff?ab80ir') format('woff'),
      url('../fonts/menu/icomoon.svg?ab80ir#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  
  .icon-favorites:before {
    content: "\e980";
  }
  .icon-home:before {
    content: "\e981";
  }
  .icon-new-rute:before {
    content: "\e982";
  }
  .icon-profile:before {
    content: "\e983";
  }
  
  

  @font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?67gml9');
    src: url('../fonts/icomoon.eot?67gml9#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?67gml9') format('truetype'),
      url('../fonts/icomoon.woff?67gml9') format('woff'),
      url('../fonts/icomoon.svg?67gml9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"],
  [class*=" icon-"] {
  
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-001:before {
    content: "\e900";
  }
  
  .icon-002:before {
    content: "\e901";
  }
  
  .icon-003:before {
    content: "\e902";
  }
  
  .icon-004:before {
    content: "\e903";
  }
  
  .icon-005:before {
    content: "\e904";
  }
  
  .icon-006:before {
    content: "\e905";
  }
  
  .icon-007:before {
    content: "\e906";
  }
  
  .icon-008:before {
    content: "\e907";
  }
  
  .icon-009:before {
    content: "\e908";
  }
  
  .icon-010:before {
    content: "\e909";
  }
  
  .icon-011:before {
    content: "\e90a";
  }
  
  .icon-012:before {
    content: "\e90b";
  }
  
  .icon-013:before {
    content: "\e90c";
  }
  
  .icon-014:before {
    content: "\e90d";
  }
  
  .icon-015:before {
    content: "\e90e";
  }
  
  .icon-016:before {
    content: "\e90f";
  }
  
  .icon-017:before {
    content: "\e910";
  }
  
  .icon-018:before {
    content: "\e911";
  }
  
  .icon-019:before {
    content: "\e912";
  }
  
  .icon-020:before {
    content: "\e913";
  }
  
  .icon-021:before {
    content: "\e914";
  }
  
  .icon-022:before {
    content: "\e915";
  }
  
  .icon-023:before {
    content: "\e916";
  }
  
  .icon-024:before {
    content: "\e917";
  }
  
  .icon-025:before {
    content: "\e918";
  }
  
  .icon-026:before {
    content: "\e919";
  }
  
  .icon-027:before {
    content: "\e91a";
  }
  
  .icon-028:before {
    content: "\e91b";
  }
  
  .icon-029:before {
    content: "\e91c";
  }
  
  .icon-030:before {
    content: "\e91d";
  }
  
  .icon-031:before {
    content: "\e91e";
  }
  
  .icon-032:before {
    content: "\e91f";
  }
  
  .icon-033:before {
    content: "\e920";
  }
  
  .icon-034:before {
    content: "\e921";
  }
  
  .icon-035:before {
    content: "\e922";
  }